<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         				 <strong id="course">Courses</strong>
        				</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                      <div class="row" style="">
                        <div class="col-lg-3">
                          <ul style="list-style-type:none;width: 1000px;" >
                            <li><strong id="math">Maths</strong></li>
                            <hr align="left">
                            <li><a href="#">Early Math</a></li>
                            <li><a href="#">Arithmetic</a></li>
                            <li><a href="#">Algebra</a></li>
                            <li><a href="#">Geometry</a></li>
                            <li><a href="#">Statistics</a></li>
                            <li><a href="#">Probability</a></li>
                            <li><a href="#">Ratio Proportion</a></li>
                            <li><a href="#">Differential Equation</a></li>
                          </ul>
                        </div><br>
                      <div class="col-lg-3" style="align-content: right;">
                          <ul style="list-style-type:none;" id="rightside">
                            <li><strong id="math">Question Papers</strong></li>
                            <hr align="left">
                            <li><a routerLink="/subheader/physics">Physics</a></li>
                            <li><a routerLink="/subheader/engmechanics">Engineering Mechanics</a></li>
                            <li><a routerLink="/subheader/evs">Environmental Studies</a></li>
                            <li><a routerLink="/subheader/Chemistry">Organic Chemistry</a></li>
                            <li><a routerLink="/subheader/bee">BEE</a></li>
                            <li><a href="#">Health $ Medicine</a></li>
                            <li><a href="#">Electrical Engineering</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul style="list-style-type:none;text-align: right;" id="leftside">
                          <li><strong id="math">Computing</strong></li>
                          <hr align="left">
                          <li><a href="#">Computer Programming</a></li>
                          <li><a href="#">Computer Science</a></li>
                          <li><a href="#">Hour Of Code</a></li>
                          <li><a href="#">Computer Animation</a></li>
                        </ul>
                        <ul style="list-style-type:none;" id="leftside">
                          <li><strong id="math">Arts & Humanities</strong></li>
                          <hr align="left">
                          <li><a href="#">Art History</a></li>
                          <li><a href="#">Grammar</a></li>
                          <li><a href="#">Music</a></li>
                          <li><a href="#">World History</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul style="list-style-type:none;" id="leftside">
                          <li><strong id="math">Economics & Finance</strong></li>
                          <hr align="left">
                          <li><a href="#">Microeconomics</a></li>
                          <li><a href="#">Macroeconomics</a></li>
                          <li><a href="#">Finance</a></li>
                          <li><a href="#">Capital Markets</a></li>
                          <li><a href="#">Enterpreneurship</a></li>
                        </ul>
                        <ul style="list-style-type:none;" id="leftside">
                          <li><strong id="math">Test Group</strong></li>
                          <hr align="left">
                          <li><a href="#">SAT</a></li>
                          <li><a href="#">LSAT</a></li>
                          <li><a href="#">MCAT</a></li>
                          <li><a href="#">GMAT</a></li>
                          <li><a href="#">IIT JEE</a></li>
                          <li><a href="#">NCLEX-RN</a></li>
                          <li><a href="#">CAHSEE</a></li>
                        </ul>
                      </div>
                   
                    </div>
                  </div>
        				</div>


        			</li>
        			<li>
        				<form class="form-inline my-2 my-lg-0">
      						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      						<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    					</form>
        			</li>
    			</ul>
    		</div>
    		<div id="nav" >
    			<a class="navbar-brand" href="#"><img id="logo" src="../../assets/images/logo.jpg"><strong>StringWayTech</strong></a>
      		</div>
    		<div>
    			<ul class="navbar-nav mr-auto">
              <li>
                <a href="#features" class="feat" style=" color: black; margin-right: 20px; font-size: 25px;font-weight: bold;" >Features</a>  
              </li>
      				<li>
      					<button  type="button" class="btn btn-primary" ><app-user-profile></app-user-profile></button>
<!--[routerLink]="['/user-profile']" -->
      				</li>
      				<li>
      					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    						<span class="navbar-toggler-icon"></span>
  						</button>
      				</li>
      			</ul>
			</div>

		</nav>
